.player {
    display: flex;
    align-items: center;
    background-color: #575757c3;
    width: 300px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    >span {
        font-size: 32px;
        margin-left: 16px;
    }
    >img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.playerActiveStyle {
    background-color: #C2185B;
}